<?xml version="1.0" encoding="UTF-8"?>
<!-- 导入约束 -->
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration>
<properties resource="database.properties"></properties>
<!-- 配置运行环境
  default：默认  必须指定一个默认的运行环境
 -->
<environments default="deverlment">
   <!-- 某一套运行环境 id:为这套运行环境起个名字 -->
   <environment id="deverlment">
      <!-- 将事务交给jdbc来管理 mybatis默认管理
                         还可以配置manager托管
         -->
        <transactionManager type="JDBC"></transactionManager>
        <!-- 配置连接池pooled JNDI连接池 tomacat -->
        <dataSource type="POOLED">
             <property name="driver" value="${driver}"/>
             <property name="url" value="${url}"/> 
             <property name="username" value="${username}"/> 
             <property name="password" value="${password}"/> 
        </dataSource>
   </environment>

</environments>
<!-- 配置mapper映射文件 -->
<mappers>
<mapper resource="com\githup\mybatis\pojo\mapper.xml"/>
</mappers>
</configuration>


